.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* full height of screen */
  font-family: 'Avenir', 'Century Gothic', sans-serif;
  font-weight: 100;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #14246b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Move content under header */
.main-wrapper {
  margin-top: 80px; /* offset height of header */
  flex-grow: 1; /* take up remaining vertical space */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Salmon Card (Main Content) */
.main-content {
  background-color: #e7e5e5;
  border-radius: 12px;
  padding: 60px;
  margin-top: 30px;
  width: 90%;
  max-width: 1200px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  text-align: center;
  translate: 300px;
}


.header-title h2 {
  margin: 0;
  font-size: 30px;
}

.header-title {
  margin-bottom: 10px;
}

/* Header buttons styling */
.header-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.headerBtn {
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.headerBtn:hover {
  background-color: #8a90ff;
  transform: translateY(-3px);
}

.header-left h1 {
  font-size: 24px;
  margin: 0;
}

.header-right {
  display: flex;
  gap: 15px;
}

.headerBtn {
  padding: 12px 22px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: #000000;
  color: white;
  cursor: pointer;
  translate: -70px;
}

/* Blue text styling for "Doodle It" */
h1 {
  color: #8a90ff; /* Blue color */
  font-size: 36px; /* Increase font size */
}

/* Latest Posts title */
.latest-posts-title {
  text-align: center;
  font-size: 2.5rem;
  color: #14246b;  /*Text of Centered Latest Posts*/
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-buttons {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }
}
